@import "./variables";

.cardBody {
    color: $cardTextColor;
    background-color: $cardColor;
    max-width: 20%;
    margin-bottom: 28px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    border-radius: 10px;
}

#park-description {
    margin-bottom: 30px;
}

#park-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2,
h3, 
#park-coordinates,
#park-activities {
    text-align: center;
}

li {
    list-style: none;
    text-align: center;
}

#park-links {
    text-decoration:none;
    text-align: center;
    font-size: 1.125rem;
    color: $linkColor;
}