.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 15px;
    
}

.cardBody {
    color: $cardTextColor;
    background-color: $cardColor;
    max-width: 18%;
    margin: 5px;
    margin-bottom: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
}

.park-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2,
h3, 
.park-coordinates,
.activity {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.park-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration:none;
    font-size: 1.125rem;
    color: $linkColor;
    
}

@media (max-width: 1322px) {
    .cardBody {
        min-width: 270px;
    }
}

@media (max-width: 1049px) {
    .cardBody {
        min-width: 400px;
    }
}

@media (max-width: 500px) {
    .cardBody {
        min-width: 230px;
    }
}

@media (max-width: 373px) {
    .cardBody {
        min-width: 200px;
    }
}