footer {
    background-color: $footerBgColor;
    color: $lightTextColor;
    padding-left: 15px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-decoration: none;
}

.footer-title {
    text-align: center;
    font-size: 2rem;
    margin: .5rem 1rem 0 1rem;
}

.legal-links {
    display: flex;
    flex-direction: column;
}

.legal-link {
    margin: 10px 0 10px 0;
}

.copy {
    margin: 10px 0 10px 0;
}

.social-links {
    width: 190px;
    align-self: center;
}

.icon {
    font-size: 40px;
    margin: 10px;
}

@media (max-width: 850px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-title {
        margin-bottom: 15px;
    }

    #legal-links,
    #social-links{
        width: 100%;
        margin: 10px 0 10px 0;
    }

    ul {
        padding-inline-start: 0;
    }

    .footer-title {
        order: -1;
    }
}