@import "./variables";

footer {
    background-color: $footerBgColor;
    color: $footerTextColor;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

a {
    color: #fff;
    text-decoration: none;
}

.footer-title {
    width: 100%;
    text-align: center;
}

#legal-links {
    display: flex;
    text-align: center;
}

#legal-link {
    margin: 15px;
}

#social-links {
    display: flex;
    width: 200px;
}

#icon {
    font-size: 40px;
    margin: 10px;
}

#copy {
    width: 100%;
    padding-left: 170px;
}

@media (max-width: 615px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #legal-links,
    #social-links{
        width: 100%;
        padding-inline-start: 0px;
        flex-direction: column;
    }

    #copy {
        padding-left: 0px;
    }
}