@import "./variables";

header {
    background-color: $headerBgColor;
    color: $headerTextColor;
    display: flex;
    justify-content: center;
}

#header-image {
    max-height: 8rem;
    margin-top: 1rem;
}