@import "./variables";

header {
    background-color: $headerBgColor;
    display: flex;
    justify-content: center;
}

.header-image {
    max-height: 8rem;
    margin-top: 1rem;
    position: relative;
}