@import "./variables";

body {
    background-image: $heroBgImage;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#page-title {
    color: $titleTextColor;
    text-align: center;
    padding-bottom: 5px;
    margin-left: 50%;
    margin-right: 50%;
    min-width: 775px;
    background-color: $titleBgColor;
    font-size: 3rem;
    border: solid;
    border-radius: 10px;
    border-color: $borderColor;
}

section {
    display: flex;
    flex-direction: row;
}

