$headerBgColor: transparent;
$headerTextColor: #fff;

$heroBgImage: url("https://github.com/CIDoubleAgent/California-National-Parks-List/blob/main/assets/images/background_wildernesscolorful.jpg?raw=true");
$titleTextColor: #fff;

$cardColor: whitesmoke;
$cardTextColor: rgb(0, 15, 131);
$linkColor: rgb(215, 0, 0);

$footerBgColor: rgb(0, 15, 131);
$footerTextColor: #fff;

// $bordeCrolor: rgb(215, 0, 0);
// $footerBgColor: rgb(136, 0, 0);
// rgb(238, 238, 210);