$headerBgColor: transparent;
$headerTextColor: #fff;

$heroBgImage: url("https://github.com/CIDoubleAgent/California-National-Parks-List/blob/main/assets/images/background_wildernesscolorful.jpg?raw=true");
$titleTextColor: rgb(0, 86, 55);
$titleBgColor: #fff;
$borderColor: rgb(215, 0, 0);

$cardColor: #fff;
$cardTextColor: rgb(0, 86, 55);
$linkColor: rgb(215, 0, 0);

$footerBgColor: rgb(0, 65, 32);
$footerTextColor: #fff;

// $bordeCrolor: rgb(215, 0, 0);
// $footerBgColor: rgb(136, 0, 0);
