header {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.header-image {
  max-height: 8rem;
  margin-top: 1rem;
  position: relative;
}

body {
  padding: 0%;
  margin: 0%;
  background-image: url("https://github.com/CIDoubleAgent/California-National-Parks-List/blob/main/assets/images/background_wildernesscolorful.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

main {
  z-index: 1;
  position: relative;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page-title {
  color: #fff;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 4rem;
  font-family: "Heebo", sans-serif;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

section {
  display: flex;
  flex-direction: row;
}

@media (max-width: 778px) {
  #page-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 373px) {
  #page-title {
    font-size: 2rem;
  }
}
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 15px;
}

.cardBody {
  color: rgb(0, 15, 131);
  background-color: whitesmoke;
  max-width: 18%;
  margin: 5px;
  margin-bottom: 40px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-radius: 5px;
  font-family: "Heebo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardBody p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}

.park-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h2,
h3,
.park-coordinates,
.activity {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.park-links {
  display: flex;
  align-self: center;
  text-decoration: none;
  font-size: 1.125rem;
  color: rgb(0, 118, 126);
}

@media (max-width: 1322px) {
  .cardBody {
    min-width: 270px;
  }
}
@media (max-width: 1049px) {
  .cardBody {
    min-width: 400px;
  }
}
@media (max-width: 500px) {
  .cardBody {
    min-width: 230px;
  }
}
@media (max-width: 373px) {
  .cardBody {
    min-width: 200px;
  }
}
footer {
  background-color: rgb(0, 10, 86);
  color: #fff;
  padding-left: 15px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer-title {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 1rem 0 1rem;
}

.legal-links {
  display: flex;
  flex-direction: column;
}

.legal-link {
  margin: 10px 0 10px 0;
}

.copy {
  margin: 10px 0 10px 0;
}

.social-links {
  width: 190px;
  align-self: center;
}

.icon {
  font-size: 40px;
  margin: 10px;
}

@media (max-width: 850px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-title {
    margin-bottom: 15px;
  }
  #legal-links,
#social-links {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  .footer-title {
    order: -1;
  }
}/*# sourceMappingURL=style.css.map */